header {
    h1 {
        padding: 3rem;
        font-size: 2.5rem;
    }
}

#main {
    .text-description {
        font-size: 1.25rem;
    }
    .random-number {
        font-size: 3rem;
        &--success {
            font-size: 1.25rem;
        }
        &--fail {
            font-size: 1.25rem;
        }
    }
}

.table {
    background: $white;
    margin-bottom: 0;
    .thead-alt th {
        background: $background-alt;
        border-color: $background-alt;
        color: $text-for-background-alt;
    }
}

.btn {
    font-size: 1.25rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    background: $background-alt;
    color: $text-for-background-alt;
    &:hover, &:focus, &:active {
        background: rgba($background-alt, $alpha);
    }
    i {
        position: relative;
        left: 4px;
        font-size: 1rem;
    }
}

.form {
    label[for="roman-inputed"] {
        margin: 10px 0 20px 0;
    }
    input {
        text-transform: uppercase;
        height: 3rem;
        width: 280px;
        font-size: 1.25rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        h1 {
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }
    #main {
        .text-description {
            font-size: 1rem;
        }
    }
}
