header {
    h1 {
        padding: 3rem;
        font-size: 2.5rem;
    }
}

#main {
    .text-description {
        font-size: 1.25rem;
    }
    #randomNumber {
        font-size: 3rem;
    }
}

.table {
    background: $white;
    margin-bottom: 0;
    .thead-alt th {
        background: $background-alt;
        border-color: $background-alt;
        color: $text-for-background-alt;
    }
}

.form {
    label[for="roman-inputed"] {
        margin-bottom: 20px;
    }
    input {
        text-transform: uppercase;
        height: 3rem;
        width: 280px;
        font-size: 1.25rem;
        text-align: center;
    }
    .btn-submit {
        font-size: 1.25rem;
        height: 3rem;
        padding: 0.5rem 1rem;
        background: $background-alt;
        color: $text-for-background-alt;
        &:hover, &:focus, &:active {
            background: rgba($background-alt, $alpha);
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        h1 {
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }
    #main {
        .text-description {
            font-size: 1rem;
        }
    }
}
